.btn {
  /* font-size: 0.9rem; */
  color: var(--darkColor);
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.3rem 0.7rem;
  border: 2px solid var(--darkColor);
  border-radius: 20px;
  background-color: var(--lightColor);
}

.btn-primary {
  --bs-btn-hover-bg: var(--lightColor);
  --bs-btn-hover-color: var(--darkColor);
  --bs-btn-hover-border-color: var(--darkColor);
  --bs-btn-active-bg: var(--lightColor); 
  --bs-btn-active-color: var(--darkColor);
  --bs-btn-active-border-color: var(--darkColor);
}